In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data =  pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [3]:
def f_describe(data, column, feature):
    
    """
    f_describe - describe depending on the feature
    
    """
    
    described_data = pd.DataFrame(index = ['count','mean', 'std', 'min', '25%', '50%', '75%', 'max'])
    described = data[[column]].describe()
    
    new_name = "{}_{}".format(column, feature)
    described.rename(columns = {column: new_name}, inplace = True)
    
    if data[feature].nunique() == 1:
        return described
    
    else:
        described_data = pd.concat([described_data, described], axis=1)
        
        
        values = data[feature].unique()
        
        for index, value in enumerate(values):
            new_name = "{}_{}:{}".format(column, feature, value)
            described = data[data[feature] == value][[column]].describe()
            described.rename(columns = {column: new_name}, inplace = True)
            
            described_data = pd.concat([described_data, described], axis=1)
            
        return described_data

In [4]:
pd.options.display.float_format = '{:.2f}'.format
f_describe(data, "MonthlyCharges", "Churn")

       MonthlyCharges_Churn  MonthlyCharges_Churn:No  MonthlyCharges_Churn:Yes
count               7043.00                  5174.00                   1869.00
mean                  64.76                    61.27                     74.44
std                   30.09                    31.09                     24.67
min                   18.25                    18.25                     18.85
25%                   35.50                    25.10                     56.15
50%                   70.35                    64.43                     79.65
75%                   89.85                    88.40                     94.20
max                  118.75                   118.75                    118.35

In [5]:
print("średnia: {}\nmediana: {}".format(round((74.44 / 61.31 * 100) - 100, 2), round((79.65 / 64.45 * 100) - 100, 2)))

średnia: 21.42
mediana: 23.58

#### Osoby, które odeszły z Telecomu płaciły miesięcznie o 21% więcej niż pozostali względnem średniej oraz o 23.5% względem mediany.

In [7]:
data = data[data["TotalCharges"] != " "]
data["TotalCharges"] = pd.to_numeric(data["TotalCharges"], errors="ignore")

In [8]:
pd.options.display.float_format = '{:.2f}'.format
f_describe(data, "TotalCharges", "Churn")

       TotalCharges_Churn  TotalCharges_Churn:No  TotalCharges_Churn:Yes
count             7032.00                5163.00                 1869.00
mean              2283.30                2555.34                 1531.80
std               2266.77                2329.46                 1890.82
min                 18.80                  18.80                   18.85
25%                401.45                 577.83                  134.50
50%               1397.47                1683.60                  703.55
75%               3794.74                4264.12                 2331.30
max               8684.80                8672.45                 8684.80

In [ ]:
print("średnia: {}\nmediana: {}".format(round((74.44 / 61.31 * 100) - 100, 2), round((79.65 / 64.45 * 100) - 100, 2)))